.keytile {
    /* border: solid 1px #000; */
    /* text-align: center; */
}

.tile-box {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-wrap: wrap; */
    /* width: 50px;
    height: 50px; */
    /* border: solid 1px #000; */
}

.test-anim {
    /* transform: scale(2); */
    /* animation: 2s ease; */
} 

/* @keyframes pulse-black {
    0% {
      transform: scale(0.2);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
    
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
    
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }  */