.keytile{
    /* border: solid 1px #000; */
    /* text-align: center; */
}

.tile-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 60px;
    height: 60px;
    /* border: solid 1px #000; */
}